*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: #fff;
}
.weather-app{
    background-color: red;
    backdrop-filter: blur(15px);
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.05);
}

.title{
    color:#00c3ff;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.search-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input{
    flex:1;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.search-box input::placeholder{
    color: #aaa;
}

.search-box button{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: #00c3ff;
    font-weight: bold;
    transition: 0.3s;
}

.search-box button:hover {
    background: #009ecf;
}

.weather-card{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);

}
.weather-card h2 {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
.weather-card p{
    font-size: 1rem;
    margin: 5px 0;
    color: #ddd;
}